# Supabase URL and Anon Key
SUPABASE_URL="https://your-project-ref.supabase.co"
SUPABASE_ANON_KEY="your-anon-public-key"

# JWT
JWT_SECRET=this_is_a_very_long_and_random_secret_string

# Twilio
TWILIO_ACCOUNT_SID=your-twilio-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=+100000000000

# Email (Example for Gmail)
APP_PASSWORD="xxxx xxxx xxxx xxxx"
BUSINESS_EMAIL="xxxx@gmail.com"
STORE_EMAIL="xxxx@gmail.com"
OWNER_EMAIL="xxxx@gmail.com"

ALLOWED_REFERRERS="http://localhost:5173"