.new-appt-form {
    max-width: 36rem;
    /* max-w-xl */
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    /* rounded-xl */
    background-color: #faf3e0;
    position: relative;
}

.new-appt-form h2 {
    font-size: 1.5rem;
    /* text-2xl */
    font-weight: 700;
    margin-bottom: 1rem;
}

.new-appt-form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .new-appt-form-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.new-appt-form input,
.new-appt-form select {
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    padding: 0.5rem;
    width: 100%;
}

.new-appt-form-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0.25rem;
    z-index: 50;
    max-height: 12rem;
    overflow-y: auto;
}

.new-appt-form-suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.new-appt-form-suggestion-item:hover {
    background-color: #f3f4f6;
}

.new-appt-form-services {
    margin-top: 1.5rem;
}

.new-appt-form-services label {
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}

.new-appt-form-services ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    color: #374151;
}

.new-appt-form button[type="submit"] {
    background-color: #059669;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
}

.new-appt-form button[type="submit"]:hover {
    background-color: #047857;
}

.new-appt-submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}


.new-appt-suggestion-wrapper {
    position: relative;
}

.new-appt-form-suggestion-name {
    font-weight: bold;
}

.new-appt-form-suggestion-phone {
    font-size: 0.875rem;
    color: #555;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}